<a href="https://colab.research.google.com/github/dtermite/PythonColab/blob/main/Python_para_Data_Science_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUCCIÓN A PYTHON
---

# 1.1 Introducción

> Python es un lenguaje de programación de alto nivel con soporte a múltiples paradigmas de programación. Es un proyecto *open source* y desde su aparición en 1991, viene convirtiéndose en uno de los lenguajes de programación interpretados más populares. 
>
> En los últimos años Python ha desarrollado una comunidad activa de procesamiento científico y análisis de datos y viene destacándose como uno de los lenguajes más relevantes cuando el asunto es ciencia de datos y machine learning, tanto en el entorno académico como también en el entorno laboral.

# 1.2 Instalación y entorno de trabajo

### Instalación Local

### https://www.python.org/downloads/
### o
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versión

In [ ]:
!python -V

Python 3.9.16

# 1.3 Trabajando con datos

In [ ]:
import pandas as pd
pd.set_option('display.max_rows', 10)
pd.set_option('display.max_columns', 10)

In [ ]:
dataset = pd.read_csv('db.csv', sep =';')

In [ ]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

In [ ]:
dataset.dtypes

Nombre          object
Motor           object
Año              int64
Kilometraje    float64
Cero_km           bool
Accesorios      object
Valor          float64
dtype: object

In [ ]:
dataset[['Kilometraje','Valor']].describe()

         Kilometraje          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nombre       258 non-null    object
 1   Motor        258 non-null    object
 2   Año          258 non-null    int64
 3   Kilometraje  197 non-null    float64
 4   Cero_km      258 non-null    bool
 5   Accesorios   258 non-null    object
 6   Valor        258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABAJANDO CON TUPLAS
---

# 2.1 Creando tuplas

Tuplas son secuencias **inmutables** que son utilizadas para guardar colecciones de objetos, geralmente heterogéneos. Pueden ser construídas de varias formas:
```
- Utilizando un par de paréntesis: ( )
- Utilizando una coma a la derecha: x,
- Utilizando un par de paréntesis con objetos separados por comas: ( x, y, z )
- Utilizando: tuple() o tuple(iterador)
```

In [ ]:
()

()

In [ ]:
1, 2, 3

(1, 2, 3)

In [ ]:
nombre = 'Passat'
valor = 153000
(nombre, valor)

('Passat', 153000)

In [ ]:
nombres_carros =tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
type(nombres_carros)

tuple

# 2.2 Selecciones en tuplas

In [ ]:
nombres_carros[0]

'Jetta Variant'

In [ ]:
nombres_carros[1]

'Passat'

In [ ]:
nombres_carros[-1]

'DS5'

In [ ]:
inicio = 1
final = 3
nombres_carros[inicio : final]

('Passat', 'Crossfox')

In [ ]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [ ]:
nombres_carros[-1]

('Fusca', 'Gol', 'C4')

In [ ]:
nombres_carros[-1][1]

'Gol'

# 2.3 Iterando en tuplas

In [ ]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
for item in nombres_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacando tuplas

In [ ]:
nombres_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nombres_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
carro_1, carro_2, carro_3, carro_4 = nombres_carros

In [ ]:
carro_1

'Jetta Variant'

In [ ]:
carro_2

'Passat'

In [ ]:
carro_3

'Crossfox'

In [ ]:
carro_4

'DS5'

In [ ]:
_, A, _, B = nombres_carros

In [ ]:
A

'Passat'

In [ ]:
B

'DS5'

In [ ]:
_, C, _, *_ = nombres_carros

In [ ]:
C

'Passat'

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [ ]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [ ]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [ ]:
for item in zip(carros, valores):
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [ ]:
for carro, valor in zip(carros, valores):
  print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [ ]:
for carro, valor in zip(carros, valores):
  if (valor > 100000):
    print(carro)

Passat
DS5

# <font color=green> 3. TRABAJANDO CON DICCIONARIOS
---

# 3.1 Creando diccionarios

Listas son colecciones secuenciales, es decir, los elementos de estas secuencias están ordenados y utilizan índices (números enteros) para acceder a los valores.

Los diccionarios son colecciones ligeramente diferentes. Son estructuras de datos que representan un tipo de mapeo. Los mapeos son colecciones de asociaciones entre pares de valores donde el primer elemento del par se conoce como llave (*key*) y el segundo como valor (*value*).

```
diccionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [ ]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [ ]:
carros.index('Passat')

1

In [ ]:
valores[carros.index('Passat')]

106161.94

In [ ]:
datos = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [ ]:
type(datos)

dict

### Creando diccionarios con *zip()*

In [ ]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [ ]:
datos = dict(zip(carros, valores))
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

# 3.2 Operaciones con diccionarios

## *dict[ key ]*

Devuelve el valor correspondiente a la llave (*key*) en el diccionario.

In [ ]:
datos['Passat']

106161.94

## *key in dict*

Devuelve **True** si la llave (*key*) es encontrada en el diccionario.

In [ ]:
'Passat' in datos

True

In [ ]:
'Fusca' in datos

False

In [ ]:
'Fusca' not in datos

True

## *len(dict)*

Devuelve el número de itens del diccionario.

In [ ]:
len(datos)

3

## *dict[ key ] = value*

Incluye un item al diccionario.

In [ ]:
datos['DS5']=124529.08
datos

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124529.08}

## *del dict[ key ]*

Borra el item de llave (*key*) del diccionario.

In [ ]:
del datos['Passat']
datos

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124529.08}

# 3.3 Métodos de diccionarios

## *dict.update()*

Actualiza el diccionario.

In [ ]:
datos

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124529.08}

In [ ]:
datos.update({'Passat': 106161.94})
datos

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124529.08,
 'Passat': 106161.94}

In [ ]:
datos.update({'Passat': 106161.95, 'Fusca': 150000})
datos

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124529.08,
 'Passat': 106161.95,
 'Fusca': 150000}

## *dict.copy()*

Crea una copia del diccionario.

In [ ]:
datosCopy = datos.copy()

In [ ]:
datosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124529.08,
 'Passat': 106161.95,
 'Fusca': 150000}

In [ ]:
del datosCopy['Fusca']
datosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124529.08,
 'Passat': 106161.95}

In [ ]:
datos

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124529.08,
 'Passat': 106161.95,
 'Fusca': 150000}

## *dict.pop(key[, default ])*

Si la llave se encuentra en el diccionario, el elemento se elimina y se devuelve su valor. De lo contrario, se devuelve el valor especificado como *default*. Si no se proporciona el valor *default* y la llave no se encuentra en el diccionario, se generará un error.

In [ ]:
datosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124529.08,
 'Passat': 106161.95}

In [ ]:
datosCopy.pop('Passat')

106161.95

In [ ]:
datosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124529.08}

In [ ]:
datosCopy.pop('Passat')

KeyError: ignored

In [ ]:
datosCopy.pop('Passat', 'Llave no fue encontrada')

'Llave no fue encontrada'

In [ ]:
datosCopy.pop('DS5', 'Llave no encontrada')

124529.08

In [ ]:
datosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16}

## *dict.clear()*

Borra todos los itens del diccionario.

In [ ]:
datosCopy.clear()

In [ ]:
datosCopy

{}

# 3.4 Iterando en diccionarios

In [ ]:
datos

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124529.08,
 'Passat': 106161.95,
 'Fusca': 150000}

## *dict.keys()*

Devuelve una lista con las llaves (*keys*) del diccionario.

In [ ]:
datos.keys()

dict_keys(['Jetta Variant', 'Crossfox', 'DS5', 'Passat', 'Fusca'])

In [ ]:
for key in datos.keys():
  print(key)

Jetta Variant
Crossfox
DS5
Passat
Fusca

## *dict.values()*

Devuelve una lista con todos los valores (*values*) del diccionario.

In [ ]:
datos.values()

dict_values([88078.64, 72832.16, 124529.08, 106161.95, 150000])

## *dict.items()*

Devuelve una lista con una tupla para cada par llave-valor (*key-value*) del diccionario.

In [ ]:
datos.items()

dict_items([('Jetta Variant', 88078.64), ('Crossfox', 72832.16), ('DS5', 124529.08), ('Passat', 106161.95), ('Fusca', 150000)])

In [ ]:
for item in datos.items():
  print(item)

('Jetta Variant', 88078.64)
('Crossfox', 72832.16)
('DS5', 124529.08)
('Passat', 106161.95)
('Fusca', 150000)

In [ ]:
for key, value in datos.items():
  print(key, '->', value)

Jetta Variant -> 88078.64
Crossfox -> 72832.16
DS5 -> 124529.08
Passat -> 106161.95
Fusca -> 150000

In [ ]:
for key, value in datos.items():
  if (value > 100000):
    print(key, '->', value)

DS5 -> 124529.08
Passat -> 106161.95
Fusca -> 150000

In [ ]:
datos = {
    'Crossfox': {'valor': 72000, 'año': 2005}, 
    'DS5': {'valor': 125000, 'año': 2015}, 
    'Fusca': {'valor': 150000, 'año': 1976}, 
    'Jetta': {'valor': 88000, 'año': 2010}, 
    'Passat': {'valor': 106000, 'año': 1998}
}

In [ ]:
datos

{'Crossfox': {'valor': 72000, 'año': 2005},
 'DS5': {'valor': 125000, 'año': 2015},
 'Fusca': {'valor': 150000, 'año': 1976},
 'Jetta': {'valor': 88000, 'año': 2010},
 'Passat': {'valor': 106000, 'año': 1998}}

In [ ]:
for item in datos.items():
    if(item[1]['año'] >= 2000):
        print(item[0])

Crossfox
DS5
Jetta

# <font color=green> 4. FUNCIONES Y PAQUETES
---

Funciones son unidades de código reutilizables que realizan una tarea específica, pueden recibir alguna entrada y también pueden devolver algún resultado.

# 4.1 Built-in function

El lenguaje Python tiene varias funciones integradas que siempre están accesibles. Algunas ya las usamos en nuestro entrenamiento:
type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [ ]:
datos = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
datos

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [ ]:
valor = 0
for key, value in datos.items():
  valor += value
print(valor)

267072.74

In [ ]:
list(datos.values())

[88078.64, 106161.94, 72832.16]

In [ ]:
sum(datos.values())

267072.74

In [ ]:
sum(datos.values(), 1000000)

1267072.7399999998

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
print?

# 4.2 Definiendo funciones sin y con parámetros

### Funciones sin parámetros

#### Formato estándar

```
def <nombre>():
    <instrucciones>
```

In [ ]:
def media():
  valor=(1+2+3)/3
  print(valor)

In [ ]:
media()

2.0

### Funciones con parámetros

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
```

In [ ]:
def media(number_1, number_2, number_3):
  valor=(number_1+number_2+number_3)/3
  print(valor)

In [ ]:
media(1,2,3)

2.0

In [ ]:
media(10,50,60 )

40.0

In [ ]:
def media(lista):
  valor=sum(lista) / len(lista)
  print(valor)

In [ ]:
media([1,2,3,4,5,6,7,8])

4.5

In [ ]:
resultado = media([1,2,3,4,5,6,7,8])

4.5

In [ ]:
resultado

In [ ]:
type(resultado)

NoneType

In [ ]:
datos = {
    'Crossfox': {'km': 35000, 'año': 2005}, 
    'DS5': {'km': 17000, 'año': 2015}, 
    'Fusca': {'km': 130000, 'año': 1979}, 
    'Jetta': {'km': 56000, 'año': 2011}, 
    'Passat': {'km': 62000, 'año': 1999}
}

In [ ]:
def km_media(dataset, año_actual):
    for item in dataset.items():
        result = item[1]['km'] / (año_actual - item[1]['año'])
        print(result)

In [ ]:
km_media(datos, 2019)

2500.0
4250.0
3250.0
7000.0
3100.0

# 4.3 Definiendo funciones que devuelven valores

### Funciones que devuelven un valor

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
    return <resultado>
```

In [ ]:
media([1,2,3,4,5,6])

In [ ]:
media([1,2,3,4,5,6])

3.5

In [ ]:
resultado = media([1,2,3,4,5,6])

3.5

In [ ]:
resultado

### Funciones que devuelven más de un valor

#### Formato estándar

```
def <nombre>(<param_1>, <param_2>, ..., <param_n>):
    <instrucciones>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

In [ ]:
def media(lista):
  valor=sum(lista) / len(lista)
  return(valor, len(lista))

In [ ]:
media([1,2,3,4,5,6,7,8])

(4.5, 8)

In [ ]:
#desenpacando
resultado, n = media([1,2,3,4,5,6,7,8,9])

In [ ]:
 resultado

5.0

In [ ]:
n

9

In [ ]:
datos = {
    'Crossfox': {'km': 35000, 'año': 2005}, 
    'DS5': {'km': 17000, 'año': 2015}, 
    'Fusca': {'km': 130000, 'año': 1979}, 
    'Jetta': {'km': 56000, 'año': 2011}, 
    'Passat': {'km': 62000, 'año': 1999}
}

In [ ]:
def km_media(dataset, año_actual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (año_actual - item[1]['año'])
        item[1].update({ 'km_media': media })
        result.update({ item[0]: item[1] })
    return result

In [ ]:
km_media(datos, 2019)

{'Crossfox': {'km': 35000, 'año': 2005, 'km_media': 2500.0},
 'DS5': {'km': 17000, 'año': 2015, 'km_media': 4250.0},
 'Fusca': {'km': 130000, 'año': 1979, 'km_media': 3250.0},
 'Jetta': {'km': 56000, 'año': 2011, 'km_media': 7000.0},
 'Passat': {'km': 62000, 'año': 1999, 'km_media': 3100.0}}

# <font color=green> 5. PANDAS BÁSICO
---

**versión: 1.1.0**

Pandas es una herramienta de manipulación de datos de alto nivel, construida sobre la base del paquete Numpy. El paquete pandas tiene estructuras de datos muy interesantes para la manipulación de datos y, por esto, es ampliamente utilizado por los científicos de datos.


## Estructuras de Datos

### Series

Series son arrays unidimensionales etiquetados capaces de almacenar cualquier tipo de dato. Las etiquetas de las líneas se denominan **index**. La forma básica de crear una Series es la siguiente:


```
    s = pd.Series(datos, index = index)
```

El argumento *datos* puede ser un diccionario, una lista, un array Numpy o una constante.

### DataFrames

DataFrame es una estructura de datos tabular bidimensional con etiquetas de fila y columna. Como la Series, los DataFrames son capaces de almacenar cualquier tipo de datos.


```
    df = pd.DataFrame(datos, index = index, columns = columns)
```

El argumento *datos* puede ser un diccionario, una lista, un array Numpy, una Series y otro DataFrame.

**Documentación:** https://pandas.pydata.org/pandas-docs/version/1.1.0/

# 5.1 Estructuras de datos

In [4]:
import pandas as pd

### Creando una Series a partir de una lista

In [ ]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [ ]:
pd.Series(carros)

0    Jetta Variant
1           Passat
2         Crossfox
dtype: object

### Creando un DataFrame a partir de una lista de diccionarios

In [ ]:
datos = [
    {'Nombre': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Año': 2003, 'Kilometraje': 44410.0, 'Cero_km': False, 'Valor': 88078.64},
    {'Nombre': 'Passat', 'Motor': 'Motor Diesel', 'Año': 1991, 'Kilometraje': 5712.0, 'Cero_km': False, 'Valor': 106161.94},
    {'Nombre': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Año': 1990, 'Kilometraje': 37123.0, 'Cero_km': False, 'Valor': 72832.16}
]

In [ ]:
dataset =pd.DataFrame(datos)

In [ ]:
dataset

          Nombre            Motor   Año  Kilometraje  Cero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003      44410.0    False   88078.64
1         Passat     Motor Diesel  1991       5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990      37123.0    False   72832.16

In [ ]:
#cambiando orden de encabezados
dataset[['Nombre', 'Año', 'Motor', 'Kilometraje', 'Cero_km', 'Valor']]

          Nombre   Año            Motor  Kilometraje  Cero_km      Valor
0  Jetta Variant  2003  Motor 4.0 Turbo      44410.0    False   88078.64
1         Passat  1991     Motor Diesel       5712.0    False  106161.94
2       Crossfox  1990  Motor Diesel V8      37123.0    False   72832.16

### Creando un DataFrame a partir de un diccionario

In [ ]:
datos = {
    'Nombre': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Año': [2003, 1991, 1990],
    'Kilometraje': [44410.0, 5712.0, 37123.0],
    'Cero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [ ]:
dataset = pd.DataFrame(datos)

In [ ]:
dataset

          Nombre            Motor   Año  Kilometraje  Cero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003      44410.0    False   88078.64
1         Passat     Motor Diesel  1991       5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990      37123.0    False   72832.16

### Creando un DataFrame a partir de un archivo externo

In [5]:
dataset = pd.read_csv('db.csv', sep =';')

In [6]:
dataset

,Nombre,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

In [7]:
#cambiando el indice de la columna
dataset = pd.read_csv('db.csv', sep =';', index_col = 0)

In [8]:
dataset

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10
...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47

# 5.2 Selecciones con DataFrames

### Seleccionando columnas

In [9]:
dataset.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [10]:
#Con [] simples lo muestra en formato serie
dataset['Valor']

Nombre
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [11]:
type(dataset['Valor'])

pandas.core.series.Series

In [12]:
#Con [[]] lo muestra en formato DataFrame []
dataset[['Valor']]

                           Valor
Nombre
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 1 columns]

In [13]:
type(dataset[['Valor']])

pandas.core.frame.DataFrame

### Seleccionando lineas - [ i : j ] 

<font color=red>**Observación:**</font> La indexación tiene origen en cero y en las particiones(*slices*) la línea con índice i es **incluída** y la línea con índice j **no es incluída** en el resultado.

In [14]:
#Siempre se coloca el intervalo + 1
dataset[0:3]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16

### Utilizando .loc para selecciones

<font color=red>**Observación:**</font> Selecciona un grupo de líneas y columnas según las etiquetas o una matriz booleana.

In [15]:
dataset.loc['Passat']

Motor                                               Motor Diesel
Año                                                         1991
Kilometraje                                               5712.0
Cero_km                                                    False
Accesorios     ['Central multimedia', 'Techo panorámico', 'Fr...
Valor                                                  106161.94
Name: Passat, dtype: object

In [16]:
# cuando se busca mas de un valor como no es una serie hay que buscarlo con doble []
dataset.loc[['Passat', 'DS5']]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07

In [17]:
#Para mostrar solo algunas columnas
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

                  Motor      Valor
Nombre
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

In [18]:
#Para mostrar todas las columnas
dataset.loc[:, ['Motor', 'Valor']]

                                       Motor      Valor
Nombre
Jetta Variant                Motor 4.0 Turbo   88078.64
Passat                          Motor Diesel  106161.94
Crossfox                     Motor Diesel V8   72832.16
DS5                          Motor 2.4 Turbo  124549.07
Aston Martin DB4             Motor 2.4 Turbo   92612.10
...                                      ...        ...
Phantom 2013                        Motor V8   51759.58
Cadillac Ciel concept               Motor V8   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                Motor Diesel  122110.90
Macan                        Motor Diesel V6   90381.47

[258 rows x 2 columns]

### Utilizando .iloc para selecciones

<font color=red>**Observación:**</font> Selecciona con base en los índices, es decir, utiliza la posición de las informaciones.

In [19]:
dataset.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [20]:
dataset.iloc[[1]]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94

In [22]:
#Cuando es un intervalo solo se usa un []
dataset.iloc[1:4]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07

In [28]:
dataset.iloc[1:4,[0, 5, 2]]

                    Motor      Valor  Kilometraje
Nombre
Passat       Motor Diesel  106161.94       5712.0
Crossfox  Motor Diesel V8   72832.16      37123.0
DS5       Motor 2.4 Turbo  124549.07          NaN

In [24]:
dataset.iloc[[1, 42, 22],[0, 5, 2]]

                               Motor      Valor  Kilometraje
Nombre
Passat                  Motor Diesel  106161.94       5712.0
Optima                 Motor 1.8 16v   86641.34          NaN
Lamborghini Obvious  Motor Diesel V6  133529.84      98079.0

In [25]:
dataset.iloc[:,[0, 5, 2]]

                                       Motor      Valor  Kilometraje
Nombre
Jetta Variant                Motor 4.0 Turbo   88078.64      44410.0
Passat                          Motor Diesel  106161.94       5712.0
Crossfox                     Motor Diesel V8   72832.16      37123.0
DS5                          Motor 2.4 Turbo  124549.07          NaN
Aston Martin DB4             Motor 2.4 Turbo   92612.10      25757.0
...                                      ...        ...          ...
Phantom 2013                        Motor V8   51759.58      27505.0
Cadillac Ciel concept               Motor V8   51667.06      29981.0
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03      52637.0
Aston Martin DB5                Motor Diesel  122110.90       7685.0
Macan                        Motor Diesel V6   90381.47      50188.0

[258 rows x 3 columns]

# 5.3 Consultas en DataFrames

In [29]:
dataset.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [31]:
dataset.Motor

Nombre
Jetta Variant                  Motor 4.0 Turbo
Passat                            Motor Diesel
Crossfox                       Motor Diesel V8
DS5                            Motor 2.4 Turbo
Aston Martin DB4               Motor 2.4 Turbo
                                 ...
Phantom 2013                          Motor V8
Cadillac Ciel concept                 Motor V8
Classe GLK               Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                  Motor Diesel
Macan                          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [32]:
dataset.Motor == 'Motor Diesel'

Nombre
Jetta Variant            False
Passat                    True
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5          True
Macan                    False
Name: Motor, Length: 258, dtype: bool

In [33]:
type(dataset.Motor == 'Motor Diesel')

pandas.core.series.Series

In [34]:
dataset[dataset.Motor == 'Motor Diesel']

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Effa Hafei Picape Baú,Motor Diesel,1991,102959.0,False,"['Control de estabilidad', 'Panel digital', 'V...",125684.65
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de lluvia', 'Cámara de estacionamient...",81399.35
New Fiesta Hatch,Motor Diesel,2017,118895.0,False,"['Sensor de estacionamiento', 'Cerraduras elec...",66007.16
Kangoo Express,Motor Diesel,2007,29132.0,False,"['Asientos de cuero', 'Transmisión automática'...",146716.91
Fit,Motor Diesel,2013,44329.0,False,"['Frenos ABS', 'Cámara de estacionamiento', 'T...",77836.23
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Panel digital', 'Central multimedia', 'Cámar...",145197.70
Symbol,Motor Diesel,2016,117714.0,False,"['4 X 4', 'Piloto automático', 'Sensor crepusc...",133030.60
A4 Sedan,Motor Diesel,2002,30511.0,False,"['Cámara de estacionamiento', '4 X 4', 'Cerrad...",96369.04
A4 Avant,Motor Diesel,2014,17357.0,False,"['Techo panorámico', '4 X 4', 'Asientos de cue...",138946.88
Silver Shadow,Motor Diesel,2015,99052.0,False,"['4 X 4', 'Central multimedia', 'Aire condicio...",143568.22
Camry,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Llantas de aleación...",138597.27
Clio,Motor Diesel,1990,66437.0,False,"['4 X 4', 'Transmisión automática', 'Frenos AB...",111130.33
Série 3 M3 Coupé,Motor Diesel,2013,19896.0,False,"['Asientos de cuero', 'Sensor de lluvia', 'Air...",69219.89
Gallardo LP 560 – 4,Motor Diesel,2000,113045.0,False,"['Frenos ABS', 'Techo panorámico', 'Central mu...",144118.91
Chana Utility,Motor Diesel,2009,52034.0,False,"['Aire condicionado', 'Sensor de estacionamien...",132662.32
TT Roadster,Motor Diesel,1998,107392.0,False,"['Aire condicionado', 'Sensor de estacionamien...",85311.40
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Control de tracción...",97290.18
Sandero,Motor Diesel,2015,34783.0,False,"['Piloto automático', 'Techo panorámico', 'Tra...",112350.61
XKR,Motor Diesel,1996,85127.0,False,"['Control de tracción', 'Aire condicionado', '...",54263.16
X5,Motor Diesel,2002,13606.0,False,"['Control de tracción', 'Piloto automático', '...",62041.32
Dodge Dakota,Motor Diesel,1993,71544.0,False,"['Control de tracción', 'Sensor de estacionami...",141083.35
i30 CW,Motor Diesel,2015,8497.0,False,"['Sensor de lluvia', 'Ventanas eléctricas', 'C...",73311.75
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Ventanas eléctricas', 'Cerraduras electricas...",67539.79
V60,Motor Diesel,2004,91840.0,False,"['Llantas de aleación', 'Sensor crepuscular', ...",114728.74
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90

In [35]:
dataset[(dataset.Motor == 'Motor Diesel') & (dataset.Cero_km == True)]

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de lluvia', 'Cámara de estacionamient...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Panel digital', 'Central multimedia', 'Cámar...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Llantas de aleación...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Control de tracción...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Ventanas eléctricas', 'Cerraduras electricas...",67539.79

### Utilizando el método query

In [36]:
dataset.query('Motor =="Motor Diesel" and Cero_km == True')

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de lluvia', 'Cámara de estacionamient...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Panel digital', 'Central multimedia', 'Cámar...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Llantas de aleación...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Cerraduras electricas', 'Control de tracción...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Ventanas eléctricas', 'Cerraduras electricas...",67539.79

# 5.4 Iterando con DataFrames

In [37]:
dataset.head()

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor
Nombre,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10

In [38]:
for item in dataset:
  print(item)

Motor
Año
Kilometraje
Cero_km
Accesorios
Valor

In [40]:
list(dataset.iterrows())

[('Jetta Variant',
  Motor                                            Motor 4.0 Turbo
  Año                                                         2003
  Kilometraje                                              44410.0
  Cero_km                                                    False
  Accesorios     ['Llantas de aleación', 'Cerraduras electricas...
  Valor                                                   88078.64
  Name: Jetta Variant, dtype: object),
 ('Passat',
  Motor                                               Motor Diesel
  Año                                                         1991
  Kilometraje                                               5712.0
  Cero_km                                                    False
  Accesorios     ['Central multimedia', 'Techo panorámico', 'Fr...
  Valor                                                  106161.94
  Name: Passat, dtype: object),
 ('Crossfox',
  Motor                                            Motor Diesel V8
  Año                                                         1990
  Kilometraje                                              37123.0
  Cero_km                                                    False
  Accesorios     ['Piloto automático', 'Control de estabilidad'...
  Valor                                                   72832.16
  Name: Crossfox, dtype: object),
 ('DS5',
  Motor                                            Motor 2.4 Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Cerraduras electricas', '4 X 4', 'Ventanas e...
  Valor                                                  124549.07
  Name: DS5, dtype: object),
 ('Aston Martin DB4',
  Motor                                            Motor 2.4 Turbo
  Año                                                         2006
  Kilometraje                                              25757.0
  Cero_km                                                    False
  Accesorios     ['Llantas de aleación', '4 X 4', 'Central mult...
  Valor                                                    92612.1
  Name: Aston Martin DB4, dtype: object),
 ('Palio Weekend',
  Motor                                              Motor 1.8 16v
  Año                                                         2012
  Kilometraje                                              10728.0
  Cero_km                                                    False
  Accesorios     ['Sensor de estacionamiento', 'Techo panorámic...
  Valor                                                   97497.73
  Name: Palio Weekend, dtype: object),
 ('A5',
  Motor                                            Motor 4.0 Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Transmisión automática', 'Cámara de estacion...
  Valor                                                    56445.2
  Name: A5, dtype: object),
 ('Série 3 Cabrio',
  Motor                                               Motor 1.0 8v
  Año                                                         2009
  Kilometraje                                              77599.0
  Cero_km                                                    False
  Accesorios     ['Control de estabilidad', 'Sensor crepuscular...
  Valor                                                  112310.44
  Name: Série 3 Cabrio, dtype: object),
 ('Dodge Jorney',
  Motor                                              Motor 3.0 32v
  Año                                                         2010
  Kilometraje                                              99197.0
  Cero_km                                                    False
  Accesorios     ['Ventanas eléctricas', 'Piloto automático', '...
  Valor                                                  120716.27
  Name: Dodge Jorney, dtype: object),
 ('Carens',
  Motor                                      Motor 5.0 V8 Bi-Turbo
  Año                                                         2011
  Kilometraje                                              37978.0
  Cero_km                                                    False
  Accesorios     ['Aire condicionado', 'Panel digital', 'Centra...
  Valor                                                   76566.49
  Name: Carens, dtype: object),
 ('Ford Edge',
  Motor                                            Motor Diesel V6
  Año                                                         2002
  Kilometraje                                              12859.0
  Cero_km                                                    False
  Accesorios     ['Sensor crepuscular', 'Llantas de aleación', ...
  Valor                                                   71647.59
  Name: Ford Edge, dtype: object),
 ('Courier',
  Motor                                            Motor Diesel V8
  Año                                                         2007
  Kilometraje                                               8052.0
  Cero_km                                                    False
  Accesorios     ['Central multimedia', '4 X 4', 'Piloto automá...
  Valor                                                   73919.53
  Name: Courier, dtype: object),
 ('S-18',
  Motor                                                   Motor V6
  Año                                                         2001
  Kilometraje                                              89773.0
  Cero_km                                                    False
  Accesorios     ['Asientos de cuero', 'Sensor de lluvia', 'Lla...
  Valor                                                  112732.99
  Name: S-18, dtype: object),
 ('J5',
  Motor                                                   Motor V6
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Sensor crepuscular', 'Panel digital', 'Llant...
  Valor                                                   53183.38
  Name: J5, dtype: object),
 ('F-Type Coupé',
  Motor                                      Motor 5.0 V8 Bi-Turbo
  Año                                                         2009
  Kilometraje                                              41457.0
  Cero_km                                                    False
  Accesorios     ['Piloto automático', 'Sensor crepuscular', 'S...
  Valor                                                  127488.42
  Name: F-Type Coupé, dtype: object),
 ('RAM',
  Motor                                            Motor Diesel V8
  Año                                                         2016
  Kilometraje                                             115607.0
  Cero_km                                                    False
  Accesorios     ['Sensor crepuscular', 'Transmisión automática...
  Valor                                                    59910.4
  Name: RAM, dtype: object),
 ('Série 1',
  Motor                                              Motor 3.0 32v
  Año                                                         2012
  Kilometraje                                              46449.0
  Cero_km                                                    False
  Accesorios     ['Techo panorámico', 'Cámara de estacionamient...
  Valor                                                   61118.59
  Name: Série 1, dtype: object),
 ('A3',
  Motor                                               Motor 1.0 8v
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['4 X 4', 'Piloto automático', 'Central multim...
  Valor                                                   88552.39
  Name: A3, dtype: object),
 ('XC90',
  Motor                                               Motor 1.0 8v
  Año                                                         2016
  Kilometraje                                              37086.0
  Cero_km                                                    False
  Accesorios     ['Cerraduras electricas', 'Ventanas eléctricas...
  Valor                                                   62696.69
  Name: XC90, dtype: object),
 ('RS 3 Sportback',
  Motor                                              Motor 3.0 32v
  Año                                                         2017
  Kilometraje                                              15173.0
  Cero_km                                                    False
  Accesorios     ['4 X 4', 'Piloto automático', 'Central multim...
  Valor                                                   101726.3
  Name: RS 3 Sportback, dtype: object),
 ('Pajero Sport',
  Motor                                               Motor 1.0 8v
  Año                                                         2002
  Kilometraje                                             101193.0
  Cero_km                                                    False
  Accesorios     ['Sensor de estacionamiento', 'Piloto automáti...
  Valor                                                  106147.38
  Name: Pajero Sport, dtype: object),
 ('Série 1 M',
  Motor                                                   Motor V8
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Control de estabilidad', 'Central multimedia...
  Valor                                                    94564.4
  Name: Série 1 M, dtype: object),
 ('Lamborghini Obvious',
  Motor                                            Motor Diesel V6
  Año                                                         1994
  Kilometraje                                              98079.0
  Cero_km                                                    False
  Accesorios     ['Llantas de aleación', 'Transmisión automátic...
  Valor                                                  133529.84
  Name: Lamborghini Obvious, dtype: object),
 ('Effa Hafei Picape Baú',
  Motor                                               Motor Diesel
  Año                                                         1991
  Kilometraje                                             102959.0
  Cero_km                                                    False
  Accesorios     ['Control de estabilidad', 'Panel digital', 'V...
  Valor                                                  125684.65
  Name: Effa Hafei Picape Baú, dtype: object),
 ('Lamborghini Murciélago',
  Motor                                      Motor 5.0 V8 Bi-Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Frenos ABS', 'Transmisión automática', 'Aire...
  Valor                                                  121596.21
  Name: Lamborghini Murciélago, dtype: object),
 ('Up!',
  Motor                                            Motor Diesel V6
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Sensor de estacionamiento', 'Ventanas eléctr...
  Valor                                                    71367.1
  Name: Up!, dtype: object),
 ('Fiesta Rocam Sedan',
  Motor                                            Motor 4.0 Turbo
  Año                                                         2016
  Kilometraje                                               5795.0
  Cero_km                                                    False
  Accesorios     ['Aire condicionado', 'Asientos de cuero', 'Tr...
  Valor                                                   95347.75
  Name: Fiesta Rocam Sedan, dtype: object),
 ('Sandero Stepway',
  Motor                                              Motor 3.0 32v
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Frenos ABS', 'Aire condicionado', 'Techo pan...
  Valor                                                  105432.84
  Name: Sandero Stepway, dtype: object),
 ('Cayman S',
  Motor                                              Motor 3.0 32v
  Año                                                         2002
  Kilometraje                                              58848.0
  Cero_km                                                    False
  Accesorios     ['Transmisión automática', 'Sensor de estacion...
  Valor                                                   57045.27
  Name: Cayman S, dtype: object),
 ('V40',
  Motor                                            Motor 4.0 Turbo
  Año                                                         1991
  Kilometraje                                              94381.0
  Cero_km                                                    False
  Accesorios     ['Cámara de estacionamiento', 'Sensor de estac...
  Valor                                                   120432.7
  Name: V40, dtype: object),
 ('Classe SLS AMG',
  Motor                                               Motor 1.0 8v
  Año                                                         1997
  Kilometraje                                              30163.0
  Cero_km                                                    False
  Accesorios     ['Sensor de estacionamiento', 'Control de esta...
  Valor                                                    70707.2
  Name: Classe SLS AMG, dtype: object),
 ('Gol G4',
  Motor                                              Motor 2.0 16v
  Año                                                         1995
  Kilometraje                                              53332.0
  Cero_km                                                    False
  Accesorios     ['Sensor crepuscular', '4 X 4', 'Ventanas eléc...
  Valor                                                   69105.18
  Name: Gol G4, dtype: object),
 ('Linea',
  Motor                                               Motor 1.0 8v
  Año                                                         2018
  Kilometraje                                              17720.0
  Cero_km                                                    False
  Accesorios     ['Piloto automático', 'Panel digital', 'Ventan...
  Valor                                                   59358.69
  Name: Linea, dtype: object),
 ('Ford F100',
  Motor                                              Motor 2.0 16v
  Año                                                         1991
  Kilometraje                                              33808.0
  Cero_km                                                    False
  Accesorios     ['Control de tracción', 'Sensor crepuscular', ...
  Valor                                                    65955.4
  Name: Ford F100, dtype: object),
 ('J2',
  Motor                                                   Motor V8
  Año                                                         2014
  Kilometraje                                              90684.0
  Cero_km                                                    False
  Accesorios     ['Techo panorámico', 'Sensor de estacionamient...
  Valor                                                   60017.03
  Name: J2, dtype: object),
 ('Aston Martin DBS',
  Motor                                                   Motor V8
  Año                                                         1995
  Kilometraje                                              43975.0
  Cero_km                                                    False
  Accesorios     ['Techo panorámico', 'Piloto automático', 'Air...
  Valor                                                  118909.52
  Name: Aston Martin DBS, dtype: object),
 ('Pajero TR4',
  Motor                                            Motor 2.4 Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Control de tracción', 'Asientos de cuero', '...
  Valor                                                   51606.59
  Name: Pajero TR4, dtype: object),
 ('Polo Sedan',
  Motor                                                   Motor V6
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Sensor de lluvia', 'Sensor crepuscular', 'Ai...
  Valor                                                  123281.87
  Name: Polo Sedan, dtype: object),
 ('California',
  Motor                                               Motor 1.0 8v
  Año                                                         2009
  Kilometraje                                               5526.0
  Cero_km                                                    False
  Accesorios     ['Llantas de aleación', 'Aire condicionado', '...
  Valor                                                   69770.18
  Name: California, dtype: object),
 ('S60',
  Motor                                            Motor 2.4 Turbo
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Techo panorámico', 'Frenos ABS', '4 X 4', 'A...
  Valor                                                  102609.54
  Name: S60, dtype: object),
 ('Tucson',
  Motor                                              Motor 2.0 16v
  Año                                                         2013
  Kilometraje                                              93415.0
  Cero_km                                                    False
  Accesorios     ['Ventanas eléctricas', 'Sensor crepuscular', ...
  Valor                                                   67997.19
  Name: Tucson, dtype: object),
 ('HB20',
  Motor                                                   Motor V6
  Año                                                         2003
  Kilometraje                                              40762.0
  Cero_km                                                    False
  Accesorios     ['Sensor de lluvia', 'Cerraduras electricas', ...
  Valor                                                  135235.29
  Name: HB20, dtype: object),
 ('Optima',
  Motor                                              Motor 1.8 16v
  Año                                                         2019
  Kilometraje                                                  NaN
  Cero_km                                                     True
  Accesorios     ['Central multimedia', 'Aire condicionado', 'T...
  Valor                                                   86641.34
  Name: Optima, dtype: object),
 ('Logan',
  Motor                                            Motor 4.0 Turbo
  Año                                                         2002
  Kilometraje                                              86302.0
  Cero_km                                                    False
  Accesorios     ['Cámara de estacionamiento', 'Ventanas eléctr...
  Valor                                                  136818.39
  Name: Logan, dtype: object),
 ('Range Rover Vogue',
  Motor                                               Motor 1.0 8v

In [42]:
for index, row in dataset.iterrows():
  if(2020 - row.Año != 0):
    dataset.loc[index, 'km_media'] = row.Kilometraje / (2020 - row.Año)
  else:
    dataset.loc[index, 'km_media'] = 0
dataset

,Motor,Año,Kilometraje,Cero_km,Accesorios,Valor,km_media
Nombre,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Llantas de aleación', 'Cerraduras electricas...",88078.64,2612.352941
Passat,Motor Diesel,1991,5712.0,False,"['Central multimedia', 'Techo panorámico', 'Fr...",106161.94,196.965517
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Control de estabilidad'...",72832.16,1237.433333
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Cerraduras electricas', '4 X 4', 'Ventanas e...",124549.07,NaN
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Llantas de aleación', '4 X 4', 'Central mult...",92612.10,1839.785714
...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Control de estabilidad', 'Piloto automático'...",51759.58,4584.166667
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Asientos de cuero', 'Panel digital', 'Sensor...",51667.06,1033.827586
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Llantas de aleación', 'Control de tracción',...",68934.03,2924.277778
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Aire condicionado', '4 X 4', 'Transmisión au...",122110.90,320.208333
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimedia', 'Techo panorámico', 'Ve...",90381.47,1792.428571

# 5.5 Tratamiento de datos